# Virtual environment
venv/

# Python cache files
__pycache__/
*.pyc

# Environment variables
.env

# OAuth 2.0 credentials and tokens
credentials.json
token.json

# Generated resumes
app/generated_resumes/*
!app/generated_resumes/.gitkeep

# Uploaded resumes
app/uploads/*
!app/uploads/.gitkeep

# Logs
*.log

# IDE-specific files
.vscode/
.idea/

# macOS-specific files
.DS_Store
node_modules
