# Virtual environment
venv/

# Python cache files
__pycache__/
*.pyc

# OAuth 2.0 credentials and tokens
credentials.json
token.json

# Environment variables
.env

# IDE-specific files
.vscode/
.idea/

# macOS-specific files
.DS_Store
